// VARIABLES
$gris: #212529;
$gold:  rgb(235, 188, 18); 
$claro: whitesmoke;
$fuente1: 'Questrial', sans-serif;
$cortetablet: 748px;
$cortemovil: 480px;
$cortelargo: 1024px;

// MIXIN
@mixin Iconosabajo {
    font-size: 30px;
    color: $gold;
    text-align: center;
    align-items: center;

}
// EXTEND

// RESETEO
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// BODY

body {
    margin: 0;

    // HEADER

    header{ 
        font-family: $fuente1;
        
        video { 
            position:fixed;
            min-width: 100%;
            min-height: 100%;
            top: 30%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
            -webkit-filter: grayscale(100%);
        }
        .header-top  {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 2rem;

            .logo {
                margin: 1.5rem;
                height: 100px;

                img {
                        display: block;
                        width: 100px;
                }
            }
            h1 {
                    color: whitesmoke;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-shadow: 4px 4px $gris;
                    font-style: normal; 
                    font-weight: bold;
                    font-size: 80px;
                    text-decoration:overline ;
                    text-decoration-color: $gold;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 25px;
                    margin-top: 1.5rem;
                
                    span {
                        color: $gold;
                    } 
            }
            .Registro {
                        display: flex;
                        flex-direction: column;

                .header-boton-login{
                    cursor: pointer;
                    background-color: white;
                    border: none;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100px;

                    &:hover {
                        background-color: $gold; 
                    }
                }
                .header-boton-register{
                    cursor: pointer;
                    color: #262424;
                    background-color: $gold; 
                    border: none;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100px;

                    &:hover {
                        background-color: white; 
                    }
                }
                
            }
        }

        .barra-arriba {
            .logito {
                margin: 2rem;
            }
            #navbarNav {
                letter-spacing: 5px;
                margin-right: 2rem;
            } 
        }

}
    // MAIN

    main {
        font-family: $fuente1;
        background-color: $gris;
            
        .galery {
            display: inline;
            margin-bottom: 0%;

            .galery-container {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 333px);
                grid-template-rows: repeat(3, 333px);

                .item1{
                    background-color: red;
                    grid-row-start: 1;
                    grid-row-end: 4;
                }
                .item2{
                    background-color: blue;
                }
                .item3{
                    background-color: yellow;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
                .item4{
                    background-color: purple;
                }
                .item5{
                    @extend .item3;    
                    background-color: orange;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

            }

            @media only screen and (max-width: 1600px) {
                .galery-container {
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: repeat(3, 300px); }
                .item1 {
                  background-color: red;
                  grid-row-start: 1;
                  grid-row-end: 2; }
                .item3 {
                  background-color: yellow;
                  grid-row-start: 4;
                  grid-row-end: 4;
                  grid-column-start: 1;
                  grid-column-end: 1; 
                } 
            }
        }   
    
        .medio {
            background-color: $gris ;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 3rem;

            a {
                text-decoration: none;
                color: whitesmoke;

                &:visited {
                    color:  $gold;
                    text-decoration: none;
                }
            }
            h3{
                color: rgb(228, 226, 220); 
                text-shadow: 2px 2px $gris;
                font-size: 100; 
                font-weight: bold;
                text-align: center;
                line-height: 2;
            }
        }
    }

    // FOOTER

    footer{
        font-family: 'Questrial', sans-serif;
        background-image:url(../Recursos/Fondo.jpg);

        h2{
            color: whitesmoke;
            text-shadow: 3px 3px $gris;
            font-style: normal; 
            font-weight: bold; 
            font-size: 35px;
            text-align: center;
            margin-bottom: 2rem;
            letter-spacing: 4px;
            padding: 2rem;

            span {
                color: $gold;
            }
        }
            .nav-item {
                align-items: center;
                text-align: center;

                &:hover {
                    color: #212529;
                    transform: scale(1.2);
                    transition: 1s;
                }
            }
            .bi-shop {
                @include Iconosabajo()
            }           
            .bi-boxes {
                @include Iconosabajo()
            }       
            .bi-chat-dots-fill {
                @include Iconosabajo()
            }       
            .bi-file-earmark-person-fill {
                @include Iconosabajo()
            }       

        h5{
            background-color: $gold;
            color: $gris;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            padding: 0.8rem;
        }

        .auspiciantes {
            display: flex;
            flex-direction: row;
            margin: 1rem;
            padding: 1rem;
            justify-content: space-evenly;
            align-items: center;
                  
            iframe{
                    margin: 2rem;
                    width: 50%;
                    display: block;
            }
        }
        .logoabajo {
            text-align: center;
            font-size: 70px;
            justify-content: center;

            img {
            animation: waviy 1.5s infinite;
            animation-delay: calc(.1s * var(--i));
            padding: 1px; 
        }
        }
        .pie {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 2rem;
        }
        h4 {
            color: whitesmoke;
            font-family: $fuente1;
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 2px 2px $gris;
            transition: all 1s;
            padding: 20px;
            text-align: center;

            &:hover {
            font-size: 3rem;
            color: $gold;
        }
        }
        .waviy {
            text-align: center;
            -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.699));
            font-size: 70px;
            justify-content: center;

            span {
            font-weight: bold;
            text-align: center;
            display: inline-block;
            color:  whitesmoke;
            text-transform: uppercase;
            animation: waviy 1.5s infinite;
            animation-delay: calc(.1s * var(--i));
            padding: 1px;  
            }
        
            @keyframes waviy {
                0%,40%,100% {
                transform: translateY(0)
                }
                20% {
                transform: translateY(-20px)
                }
            }   
        }

        .nav {
            font-size: 16px;
            font-family: $fuente1;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            text-shadow: 2px 2px $gris;
        }
        ul {
            list-style: none;

            &:visited {
                color:  $gold;
            }
            &:hover {
                    size: 20px;
            }
        }
    }
    a{
        text-decoration: none;
        }
    a:visited{
        text-decoration: none;
        color: $gold;
    }
    
}
// CLOSE