* { 
    margin: 800;
    padding: 0;
}

body {
    margin: 20px;
    background-color: rgb(195, 188, 44);
    background-image: url(../Media/FONDOPRUEBA.jpg);
}
img {
    display: block;
    margin-left: auto;  
    margin-right: auto;
}   
header{ line-height: 1.5;
    font-family: 'Questrial', sans-serif;
}
h1 { color: rgb(243, 236, 236); 
    font-size:   300%; 
    font-style: normal; 
    font-weight: bold; 
    text-align: center;
    font-family: 'Questrial', sans-serif;
}
h2 {color: rgb(241, 234, 234);
    font-size: 150%;    
    font-style: normal;
     font-weight: bold; 
     text-align: center;
     font-family: 'Questrial', sans-serif;
    } 

p { color: azure ;
    text-align: center;}
h3{
    color: rgb(228, 226, 220); 
    font-size: 125; 
    font-weight: bold;
    text-align: center;
}
main {font-family: 'Questrial', sans-serif;
}
footer{font-family: 'Questrial', sans-serif;
}
h5{font-family: 'Questrial', sans-serif;
font-weight: bold; color: azure ;
} 
a:visited{
    color: yellow;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
}
.nav1
{ display: flex;}

li:hover{
    text-decoration: underline ;
}
video{
    display: block;
    margin: 0 auto !important;
}
iframe{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.progreso{
    font-size: 40px;;
}
#llamador{
    color: red;
}
.header-top{
    display: flex;
    justify-content: space-between;
}s
label{
    color: white;
    text-align: right;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    color: aliceblue;
}
.table {
display: flex;
justify-content:center ;
flex-direction: column;
}

body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ab4493; 
  }
.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }

input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
label{
    display: block; 
    float: center;  
  }
button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
button p{
    color: #fff; 
  }
span{
    color: #ab4493; 
  }
.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }

  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

.contenido {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}