* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #000;
    background-image: url(../Recursos/Fondo.jpg);
    background-size: cover;
    height: 100vh;
}
img {
    display: block;
    margin-left: auto;  
    margin-right: auto;
}
header{ 
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
    background-color: #292b2c;
}
main {
    font-family: 'Questrial', sans-serif;
}   
footer{
    font-family: 'Questrial', sans-serif;
}
span {
    color: rgb(235, 188, 18);
}
.barra-arriba {
    width:auto ;
    justify-content: space-around;
    border-radius: 10px;
}
.header-top  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.header-boton-login{
    cursor: pointer;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}
.header-boton-register{
    cursor: pointer;
    background-color: rgb(213, 172, 25); 
    color: #262424;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}
.header-boton-login:hover{
    background-color: rgb(235, 188, 18); 
}
.logo{
    margin-top: 1.5rem;
}
h1 {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-shadow: 4px 4px #262424;
    font-style: normal; 
    font-weight: bold;
    font-size: 70px;
    text-decoration:overline ;
    text-decoration-color: rgb(235, 188, 18);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 25px;
    margin-top: 1.5rem;
}
h2{
    color: whitesmoke;
    text-shadow: 3px 3px #262424;
    font-style: normal; 
    font-weight: bold; 
    font-size: 50px;
    text-align: center;
    margin:auto;
    text-decoration: underline;
    text-decoration-color: rgb(235, 188, 18) ;
}
.h22 {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:visited {
    color:  rgb(235, 188, 18);
    text-decoration: none   ;
}
.card {
    background-color: rgba(19, 19, 19, 0.505);
    color: whitesmoke;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    inline-size: 1.5;
}
}
@media only screen and (max-width:1200px )
{
        .logo {
            display: none;
        }
}
p { 
    color: azure ;
}            
.cuerpotexto {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h3{
    color: rgb(228, 226, 220); 
    font-size: 100; 
    font-weight: bold;
    text-align: center;
    line-height: 2;
}
h4 {
    font-family: 'Questrial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px #262424;
    transition: all 1s;
    color: whitesmoke;
    text-align: center;
}
h4:hover {
    font-size: 3.2rem;
    color: rgb(235, 188, 18);
}
.progreso {
            background-color: #000;
            size: 10rem;
            font-size: 40px;
            text-shadow: 2px 2px #262424;
        }
.seleccionado {
            background-color: rgb(38, 35, 35);
            opacity: 90%;
            font-size: 40px;
        }
a:visited{
    color:  rgb(235, 188, 18);
}
video{
            display: block;
            margin: 0 auto;
        }
iframe{
            display: block;
            margin: 2rem;
            width: 50%;
        }
label{
            color: white;
            text-align: right;
}
ul:hover {
    size: 20px;
}
.nav {
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 2px 2px #262424;
}
#navbarNav {
    letter-spacing: 5px;
} 
ul {
    list-style: none;
}
ul:visited {
    color:  rgb(235, 188, 18);
}
h3 {
    text-shadow: 2px 2px #262424;
