* { 
    margin: 800;
    padding: 0;
}

body {
    margin: 20px;
    background-color: rgb(195, 188, 44);
    background-image: url(../Media/FONDOPRUEBA.jpg);
}
img {
    display: block;
    margin-left: auto;  
    margin-right: auto;
}   
header{ line-height: 1.5;
    font-family: 'Questrial', sans-serif;
}
h1 { color: rgb(243, 236, 236); 
    font-size:   300%; 
    font-style: normal; 
    font-weight: bold; 
    text-align: center;
    font-family: 'Questrial', sans-serif;
}
h2 {color: rgb(241, 234, 234);
    font-size: 150%;    
    font-style: normal;
     font-weight: bold; 
     text-align: center;
     font-family: 'Questrial', sans-serif;
    } 

p { color: azure ;
    text-align: center;}
h3{
    color: rgb(228, 226, 220); 
    font-size: 125; 
    font-weight: bold;
    text-align: center;
}
main {font-family: 'Questrial', sans-serif;
}
footer{font-family: 'Questrial', sans-serif;
}
h5{font-family: 'Questrial', sans-serif;
font-weight: bold; color: azure ;
} 
a:visited{
    color: yellow;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
}
li:hover{
    text-decoration: underline ;
}
video{
    display: block;
    margin: 0 auto !important;
}
iframe{
    display: block;
    margin: 0 auto;
    width: 50%;
}
.progreso{
    font-size: 40px;;
}
#llamador{
    color: red;
}
.header-top{
    display: flex;
    justify-content: space-between;
}s
label{
    color: white;
    text-align: right;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    color: aliceblue;
}
.table {
display: flex;
justify-content:center ;
flex-direction: column;
}
.contenido {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    text color-adjust: white;
}