// VARIABLES
$gris: #212529;
$gris2: #272a2e;
$gold:  rgb(235, 188, 18); 
$claro: whitesmoke;
$fuente1: 'Questrial', sans-serif;
$cortetablet: 748px;
$cortemovil: 480px;
$cortelargo: 1024px;

// MIXIN
@mixin Iconosabajo {
    font-size: 20px;
    color: $gold;
    text-align: center;
    align-items: center;

}
// EXTEND

// RESETEO
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// BODY

    // HEADER

    header{ 
        font-family: $fuente1;
        background-image: linear-gradient(to bottom, $gris2, $gris);
        
        .header-top  {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0.5rem;
        

            .logo {
                margin: 1.5rem;
                height: 6rem;

                img {
                        display: block;
                        width: 100px;
                }
            }
            h1 {
                    color: whitesmoke;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-shadow: 4px 4px $gris;
                    font-style: normal; 
                    font-weight: bold;
                    font-size: 70px;
                    text-decoration:overline ;
                    text-decoration-color: $gold;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 25px;
                    margin-top: 1.5rem;
                
                    span {
                        color: $gold;
                    } 
            }
            .Registro {
                        display: flex;
                        flex-direction: column;

                .header-boton-login{
                    cursor: pointer;
                    background-color: white;
                    border: none;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100px;

                    &:hover {
                        background-color: $gold; 
                    }
                }
                .header-boton-register{
                    cursor: pointer;
                    color: #262424;
                    background-color: $gold; 
                    border: none;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100px;

                    &:hover {
                        background-color: white; 
                    }
                }
                
            }
        }
    
        .barra-arriba {
            .logito {
                margin: 2rem;
            }
            #navbarNav {
                letter-spacing: 5px;
                margin-right: 2rem;
                justify-content: space-between;
            } 
        }
    }
    // MAIN

    main {
        font-family: $fuente1;
        background-color: $gris2;  
        background-image: url(../Recursos/Fondo.jpg);        
        
        .h3main {
            color: $claro;
            text-shadow: 2px 2px $gris;
            padding-top: 5rem;
            margin-bottom: 7rem;
            font-weight: bold;
            font-size: 2.5rem;
            text-decoration:dotted ;
            text-shadow: 2px 2px $gris;
            text-align: center;
        }

        .medio {
            background-image: linear-gradient(to bottom, rgb(52, 56, 59), $gris);
            padding: 3rem;

            a {
                text-decoration: none;
                color: whitesmoke;

                &:visited {
                    color:  $gold;
                    text-decoration: none;
                }
            }
            h3{
                color: rgb(228, 226, 220); 
                text-shadow: 2px 2px $gris;
                font-size: 100; 
                font-weight: bold;
                text-align: center;
                line-height: 2;
            }
        }
    }

    // FOOTER

    footer{
        font-family: 'Questrial', sans-serif;
        background-image:url(../Recursos/Fondo.jpg);
        padding-bottom: 2rem;

        h2{
            color: $claro;
            text-shadow: 3px 3px $gris;
            font-style: normal; 
            font-weight: bold; 
            font-size: 1.9rem;
            text-align: center;
            margin-bottom: 1.5rem;
            letter-spacing: 4px;
            padding: 4rem;

            span {
                color: $gold;
            }
        }
        ul {
            list-style: none;

            &:visited {
                color:  $gold;
            }
            &:hover {
                    size: 20px;
            }
        }
        
        .barra-abajo {
            padding-bottom: none;
        }

        .nav-item {
        align-items: center;
        text-align: center;

        &:hover {
            color: #212529;
            transform: scale(1.2);
            transition: 1s;
        }
            }
            .bi-shop {
                @include Iconosabajo()
            }           
            .bi-boxes {
                @include Iconosabajo()
            }       
            .bi-chat-dots-fill {
                @include Iconosabajo()
            }       
            .bi-file-earmark-person-fill {
                @include Iconosabajo()
            }
        
        .linea {
            border-top: 0.5rem solid $claro;
            height: 50%;
            max-width: 40rem;
            padding: 0;
            margin: 1.5rem auto 0 auto;
            opacity: 50%;
            border-radius: 80%;
            }
        .pie {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;

            .logoabajo {
                text-align: center;
                justify-content: space-evenly;
                margin-right: 3rem;

                img {
                animation: waviy 1.5s infinite;
                animation-delay: calc(.1s * var(--i));
                width: 5rem;
                }
            }
        }
        h4 {
            color: $claro;
            font-family: $fuente1;
            font-size: 1.5rem;
            font-weight: bold;
            text-shadow: 2px 2px $gris;
            transition: all 1s;
            padding: 20px;
            text-align: center;

            &:hover {
            font-size: 2rem;
            color: $gold;
            }
        }
        .waviy {
            text-align: center;
            -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.699));
            font-size: 40px;
            justify-content: center;

            span {
            font-weight: bold;
            text-align: center;
            display: inline-block;
            color:  whitesmoke;
            text-transform: uppercase;
            animation: waviy 1.5s infinite;
            animation-delay: calc(.1s * var(--i));
            padding: 1px;  
            }
        
            @keyframes waviy {
                0%,40%,100% {
                transform: translateY(0)
                }
                20% {
                transform: translateY(-20px)
                }
            }   
        }
        .nav {
            font-size: 16px;
            font-family: $fuente1;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            text-shadow: 2px 2px $gris;
        }
        ul {
            list-style: none;

            &:visited {
                color:  $gold;
            }
            &:hover {
                    size: 20px;
            }
        }
    a{
        text-decoration: none;
        }
    a:visited{
        text-decoration: none;
        color: $gold;
    }
}
// CLOSE